.vscode/**
.vscode-test/**
.github/**
out/**
node_modules/**
src/**
public/**
images/icon.svg
example*.blade.php
*.blade.php
TODO.md
CLAUDE.md
vsc-extension-quickstart.md
webpack.config.js
.gitignore
.yarnrc
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.claude/**
